<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>pj favoritos</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body class="home">
       <header>
           <nav class="nav-bar" id="inicio">
                <ul><!-- <nav>ul>li*x>a(esto es para crear listas) -->
                    <li><a href="#">inicio</a></li>
                    <li><a href="#madara">Madara</a></li>
                    <li><a href="#katarina">Katarina</a></li><!-- escribir siempre dentro de la >aca< -->
                </ul>
           </nav>
        </header><!-- dentro del header va toda la navegacion de la pagina -->
       <main> 
        <h1 class="centro">Mis personajes favoritos</h1>
            <section>
                <article class="pj" id="madara"><!-- identificador de navegacion-->
                    <h2> Uchiha Madara </h2> 
                    <div><!-- caja de contenido -->
                        <p>El Uchiha más poderoso</p>
                        <img src="https://i.pinimg.com/originals/f9/63/02/f96302b1c84f70ef9ce1691ef9a71f75.gif" alt="imagen de madara god">
                        <!--  <audio src="/sound/Madara Uchiha Badass [EDIT_AMV] Nemesis.mp4" preload="none" controls autoplay loop></audio> -->
                        <p>¿con susano o sin susano?</p>
                    </div>
                </article>
                
                <article class="pj" id="katarina">
                    <h3>Katarina </h3>
                    <div><!-- caja de contenido -->
                        <p>La cuchilla siniestra</p>
                        <img src="https://pa1.narvii.com/6901/79f5ce72882c8e61b210206cdaa1421ee835e03br1-313-320_hq.gif" alt="">
                        <video src="/video/Flyerbek Katarina Montage by Spliffiam(720P_HD)_1.mp4" poster="presentacion.jpg" controls></video>
                        <p>No dejes que se cometa el mismo error dos veces</p>
                    </div>    
                </article>
            </section>
        </main><!-- todo el contenido -->
      
    
        <footer> 
            <nav>
                <ul>
                    <li><a href="#">inicio</a></li>
                </ul>
            </nav>
            <img src="/img/24.jpg" alt="LOGO">
            <p>2021 &copy; Todos los derechos reservados para mi</p>   
        </footer>
       
    </body>
</html>
